{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Регистрация пользователя</title>
{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}

<div class="my-container">
    <div class="reg-card">
        <h2 class="mb-20">Регистрация</h2>
        <form method="post"
              class="reg-form"
              action="{% url 'users:registration' %}"
              id="reg-form">
                {% csrf_token %}

            <div class="reg-block">
                <label for="id_email" class="form-label">Email</label>
                <input type="email"
                       name="email"
                       id="id_email"
                       class="form-control my-form"
                       placeholder="Электронная почта"
                       required>
                <div id="id_email-error" class="error-message">error</div>
            </div>

            <div class="reg-block">
                <label for="id_password1" class="form-label">Пароль</label>
                <input type="password"
                       name="password1"
                       id="id_password1"
                       class="form-control my-form"
                       placeholder="Пароль"
                       required>
                <span class="password-toggle" onclick="togglePasswordVisibility1()">
                    <i id="eyeIcon1" class="bi bi-eye-slash"></i>
                </span>
                <div id="id_password1-error" class="error-message"></div>
            </div>

            <div class="reg-block">
                <label for="id_password2" class="form-label">Подтвердите пароль</label>
                <input type="password"
                       name="password2"
                       id="id_password2"
                       class="form-control my-form"
                       placeholder="Подтвердите пароль"
                       required>
                <span class="password-toggle" onclick="togglePasswordVisibility2()">
                    <i id="eyeIcon2" class="bi bi-eye-slash"></i>
                </span>
                <div id="id_password2-error" class="error-message">
                </div>
            </div>

                <div class="reg-block">
                    <label for="id_phone_number" class="form-label">Телефон</label>
                    <input type="tel"
                           name="phone_number"
                           id="id_phone_number"
                           class="form-control my-form"
                           placeholder="+375(__)___-__-__"
                           required>
                    <div id="id_phone_number-error" class="error-message"></div>
                </div>

        </form>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#id_phone_number').inputmask({
        "mask": "+375(99)999-99-99",
        "clearMaskOnLostFocus": false, //  Маска остаётся видимой, когда поле теряет фокус
    });
});
</script>

<script>
    function checkAllFieldsValid() {
        const inputs = document.querySelectorAll('.form-control');
        const checkbox = document.getElementById('checkboxAgree');
        const submitButton = document.getElementById('btn-send-data')
        let allValid = true;

        inputs.forEach(input => {
            if (!input.classList.contains('is-valid')) {
                allValid = false;
            }
        });

        if (!allValid) {
            checkbox.checked = false;
        } else {
            if (checkbox.checked) {
                submitButton.removeAttribute('disabled');
            } else {
                submitButton.setAttribute('disabled', 'disabled');
            }
        }
    }

document.getElementById('checkboxAgree').addEventListener('click', checkAllFieldsValid);

function togglePasswordVisibility1() {
    const eyeIcon = document.getElementById('eyeIcon1');
    const passwordInput = document.getElementById('id_password1');

    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        eyeIcon.classList.remove('bi-eye-slash');
        eyeIcon.classList.add('bi-eye');
    } else {
        passwordInput.type = 'password';
        eyeIcon.classList.remove('bi-eye');
        eyeIcon.classList.add('bi-eye-slash');
    }
}

function togglePasswordVisibility2() {
    const eyeIcon = document.getElementById('eyeIcon2');
    const passwordInput = document.getElementById('id_password2');

    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        eyeIcon.classList.remove('bi-eye-slash');
        eyeIcon.classList.add('bi-eye');
    } else {
        passwordInput.type = 'password';
        eyeIcon.classList.remove('bi-eye');
        eyeIcon.classList.add('bi-eye-slash');
    }
}
</script>

<script type="module" src="{% static 'js/users/handlers_for_fields.js' %}"></script>
{% endblock content %}
