{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Регистрация пользователя</title>
{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}

<div class="my-container">
    <div class="reg-card">
        <h2 class="mb-20">Регистрация</h2>
        <form method="post"
              class="reg-form"
              action="{% url 'users:registration' %}"
              id="reg-form">
                {% csrf_token %}

            <div class="reg-block-input">
                <label for="id_email" class="form-label">Email</label>
                <input type="email"
                       name="email"
                       id="id_email"
                       class="form-control"
                       placeholder="Электронная почта"
                       required>
                <div id="id_email-error" class="error-message"></div>
            </div>

            <div class="reg-block-input">
                <label for="id_password1" class="form-label">Пароль</label>
                <input type="password"
                       name="password1"
                       id="id_password1"
                       class="form-control"
                       placeholder="Пароль"
                       required>
                <span class="eye close" onclick="togglePassword(this)"></span>
                <div id="id_password1-error" class="error-message"></div>
            </div>

            <div class="reg-block-input">
                <label for="id_password2" class="form-label">Подтвердите пароль</label>
                <input type="password"
                       name="password2"
                       id="id_password2"
                       class="form-control"
                       placeholder="Подтвердите пароль"
                       required>
                <span class="eye close" onclick="togglePassword(this)"></span>
                <div id="id_password2-error" class="error-message"></div>
            </div>

                <div class="reg-block-input">
                    <label for="id_phone_number" class="form-label">Телефон</label>
                    <input type="tel"
                           name="phone_number"
                           id="id_phone_number"
                           class="form-control"
                           placeholder="+375(__)___-__-__"
                           required>
                    <div id="id_phone_number-error" class="error-message"></div>
                </div>

                <div class="" style="margin-top: 30px;">
                    <input class="form-check-input" type="checkbox" id="checkboxAgree">
                    <label class="form-check-label" for="checkboxAgree">
                        Я согласен на обработку моих персональных данных
                    </label>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn-reg-user-form" id="btn-send-data"
                            disabled>Зарегистрироваться
                    </button>
                </div>

        </form>
    </div>
</div>

<script src="{% static 'js/func_for_valid_field_reg_form.js' %}"></script>

<script>
const formRegUserData = {
    email: document.getElementById('id_email'),
    password1: document.getElementById('id_password1'),
    password2: document.getElementById('id_password2'),
    phoneNumber: document.getElementById('id_phone_number')
}

function togglePassword(element) {
    const passwordInputField = element.previousElementSibling;
    const isPasswordType = passwordInputField.getAttribute('type') === 'password';
    passwordInputField.setAttribute('type', isPasswordType ? 'text' : 'password')

    if (isPasswordType) {
        element.classList.remove('close');
        element.classList.add('open')
    } else {
        element.classList.remove('open');
        element.classList.add('close');
    }
}

document.addEventListener('DOMContentLoaded', function (){
    formRegUserData.email.addEventListener('blur', () => handleEmailBlur(formRegUserData.email));
    formRegUserData.password1.addEventListener('blur', () => handlePassword1Blur(formRegUserData.password1, formRegUserData.password2));
    formRegUserData.password2.addEventListener('blur', () => handlePassword2Blur(formRegUserData.password1, formRegUserData.password2));
    formRegUserData.phoneNumber.addEventListener('blur', () => handlePhoneNumberBlur(formRegUserData.phoneNumber))
});





function checkAllFieldsValid() {
        const inputs = document.querySelectorAll('.form-control');
        const checkbox = document.getElementById('checkboxAgree');
        const submitButton = document.getElementById('btn-send-data')
        let allValid = true;

        inputs.forEach(input => {
            if (!input.classList.contains('is-valid')) {
                allValid = false;
            }
        });

        if (!allValid) {
            checkbox.checked = false;
        } else {
            if (checkbox.checked) {
                submitButton.removeAttribute('disabled');
            } else {
                submitButton.setAttribute('disabled', 'disabled');
            }
        }
    }

document.getElementById('checkboxAgree').addEventListener('click', checkAllFieldsValid);


</script>


<script>
$(document).ready(function() {
    $('#id_phone_number').inputmask({
        "mask": "+375(99)999-99-99",
        "clearMaskOnLostFocus": false, //  Маска остаётся видимой, когда поле теряет фокус
    });
});
</script>
{% endblock content %}
