{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Регистрация пользователя</title>
{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}

<div class="my-container">
    <div class="reg-card">
        <h2 class="mb-20">Регистрация</h2>
        <form method="post"
              class="reg-form"
              action="{% url 'users:registration' %}"
              id="formRegUser"
              novalidate
        >
                {% csrf_token %}

<!----------------  Email ---------------->
            <div class="reg-block-input">
                <label for="id_email" class="form-label">Email</label>
                <input type="email"
                       name="email"
                       id="id_email"
                       class="form-control"
                       placeholder="Электронная почта"
                       required>
                <div class="reg-form-checkmark-field">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="32"
                         height="32"
                         fill="currentColor"
                         class="checkmark"
                         viewBox="0 0 16 16"
                    >
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                </svg></div>

                <div id="id_email-error" class="error-message"></div>
            </div>

<!----------------  Password 1 ---------------->
            <div class="reg-block-input">
                <label for="id_password1" class="form-label">Пароль</label>
                <input type="password"
                       name="password1"
                       id="id_password1"
                       class="form-control"
                       placeholder="Пароль"
                       required>

                <span class="eye close" onclick="togglePassword(this)"></span>
                <div id="id_password1-error" class="error-message"></div>

                <div class="reg-form-checkmark-field">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="32"
                         height="32"
                         fill="currentColor"
                         class="checkmark"
                         viewBox="0 0 16 16"
                    >
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                    </svg>
                </div>
            </div>

<!----------------  Password 2 ---------------->
            <div class="reg-block-input">
                <label for="id_password2" class="form-label">Подтвердите пароль</label>
                <input type="password"
                       name="password2"
                       id="id_password2"
                       class="form-control"
                       placeholder="Подтвердите пароль"
                       required>
                <span class="eye close" onclick="togglePassword(this)"></span>
                <div id="id_password2-error" class="error-message"></div>

                <div class="reg-form-checkmark-field">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="32"
                         height="32"
                         fill="currentColor"
                         class="checkmark"
                         viewBox="0 0 16 16"
                    >
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                    </svg>
                </div>
            </div>

<!----------------  Phone number ---------------->
            <div class="reg-block-input">
                <label for="id_phone_number" class="form-label">Телефон</label>
                <input type="tel"
                       name="phone_number"
                       id="id_phone_number"
                       class="form-control"
                       placeholder="+375(__)___-__-__"
                       required>
                <div id="id_phone_number-error" class="error-message"></div>

                <div class="reg-form-checkmark-field">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="32"
                         height="32"
                         fill="currentColor"
                         class="checkmark"
                         viewBox="0 0 16 16"
                    >
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                    </svg>
                </div>
            </div>

            <div class="reg-block-input">
                <input class="form-reg-user" type="checkbox" id="checkboxFormRegUser">
                <label class="form-reg-user" for="checkboxFormRegUser">
                    Я согласен на обработку моих персональных данных
                </label>
            </div>

            <div class="reg-block-button">
                <button type="submit" class="btn-reg-user-form" id="btnFormRegUser"
                        disabled>Зарегистрироваться
                </button>
            </div>

        </form>
    </div>
</div>

<script src="{% static 'js/func_for_valid_field_reg_form.js' %}"></script>

<script>
const formRegUserData = {
    email: document.getElementById('id_email'),
    password1: document.getElementById('id_password1'),
    password2: document.getElementById('id_password2'),
    phoneNumber: document.getElementById('id_phone_number')
}

document.addEventListener('DOMContentLoaded', function (){
    formRegUserData.email.addEventListener('blur', () => handleEmailBlur(formRegUserData));
    formRegUserData.password1.addEventListener('blur', () => handlePassword1Blur(formRegUserData));
    formRegUserData.password2.addEventListener('blur', () => handlePassword2Blur(formRegUserData));
    formRegUserData.phoneNumber.addEventListener('blur', () => handlePhoneNumberBlur(formRegUserData));

    const checkboxFormRegUser = document.getElementById('checkboxFormRegUser');
    const btnFormRegUser = document.getElementById('btnFormRegUser');

    checkboxFormRegUser.addEventListener('change', function () {
        btnFormRegUser.disabled = !checkboxFormRegUser.checked;
    });
});


document.getElementById('formRegUser').addEventListener('submit', function (event) {
        event.preventDefault();

        let flag = checkFields(formRegUserData);

        console.log("Sent   flag:", flag);

        if (flag) {
            const formData = {
                email: formRegUserData.email.value,
                password: formRegUserData.password2.value,
                phone_number: formRegUserData.phoneNumber.value
            };
            console.log("formData:", formData);

            axios.post('/users/registration/', formData)
                .then(response => {
                    console.log('Success:', response.data);
                    this.reset();
                    window.location.href = '/users/profile/';
                })
                .catch(error => {
                    console.error('Error:', error);
            });
        }
    });
</script>

<!---------------- Phone Mask ---------------->
<script>
$(document).ready(function() {
    $('#id_phone_number').inputmask({
        "mask": "+375(99)999-99-99",
        "clearMaskOnLostFocus": false, //  Маска остаётся видимой, когда поле теряет фокус
    });
});
</script>
{% endblock content %}
